@import "foundation/all";

.dsmeli-navbar-container {
  background: $yellow;
  padding: map-get($spacing, 'xxs') 0;
  &container{
    display: flex;
    align-items: center;
  }
}

.dsmeli-navbar-logo {
  display: flex;
  position: relative;
  height: 36px;
  width: 53px;
}
